################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DLibTest/v15
/x64
/DLibTest/x64/Debug
/VisualStudio/.vs/DLibTest/v15
/VisualStudio/DLibTest/x64/Debug
/VisualStudio/DLibTest/x64/Release
/VisualStudio/DLibTest/Debug
/VisualStudio/x64/Debug
/VisualStudio/Debug
