################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DLibTest/v15
/x64
/DLibTest/x64/Debug
